#crx-root .recommendations {
  background: #ffe5b0;
  padding: 1rem;
  border: 1px #ffbd39 solid;
  border-radius: 0.5rem;
}

#crx-root .problem {
  background: #ffebeb;
  padding: 1rem;
  border: 1px #ff7777 solid;
  border-radius: 0.5rem;
}

#crx-root .good {
  background: #e0ffe8;
  padding: 1rem;
  border: 1px #3ebb5a solid;
  border-radius: 0.5rem;
}

#crx-root .bonusTip {
  background: #cedefa;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px #276cd2 solid;
  border-radius: 0.5rem;
}

#crx-root .heading {
  font-size: 32px;
}

#crx-root .heading-1 {
  font-size: 24px;
  font-weight: 500;
}

#crx-root .heading-2 {
  font-size: 20px;
  font-weight: 400;
}

#crx-root .heading-3 {
  font-size: 16px;
  font-weight: 400;
}
#crx-root .heading-3-heavy {
  font-size: 16px;
  font-weight: 600;
}

#crx-root .subtext-1 {
  font-size: 14px;
  font-weight: 300;
}

#crx-root .button-text {
  font-size: 16px;
  font-weight: 300;
}

#crx-root .loginScreen {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  padding: 0 3rem;
}

#crx-root .break-line {
  width: 100%;
  border: 1px solid #e5ebf0;
  margin: 2rem 0;
}

#crx-root .align-icon-center {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#crx-root .spaceBetweenContent {
  display: flex;
  justify-content: space-between;
}
#crx-root .icon-24 {
  width: 24px;
  display: flex;
  justify-content: center;
}

#crx-root .icon-text {
  padding-right: 1rem;
  position: relative;
  top: 2px;
}

#crx-root .primary-btn {
  background: #508de8 !important;
  border: #508de8 !important;
  color: white !important;
}

#crx-root .primary-btn:hover {
  background: #4280dc !important;
  border: #276cd2 !important;
  color: white !important;
}

#crx-root .primary-btn:active {
  background: #276cd2 !important;
  border: #276cd2 !important;
}

#crx-root .secondary-button {
  background-color: #f8fbfe !important;
  color: #508de8 !important;
  border: 1px solid #508de8 !important;
}

#crx-root .orange-btn {
  background: #ff9100 !important;
  border: #ff9100 !important;
}

#crx-root .orange-btn:hover {
  background: #ffa32a !important;
  border: #ffa32a !important;
}
#crx-root .orange-btn:active {
  background: #f38a00 !important;
  border: #f38a00 !important;
}

#introjsRoot .ant-carousel .slick-dots li button {
  background: #a8c6f4 !important;
  opacity: 1 !important;
}

#introjsRoot .ant-carousel {
  color: #152c5b !important;
}

#introjsRoot .ant-carousel .slick-dots li button:hover {
  background: #152c5b !important;
}

#introjsRoot .ant-carousel .slick-dots li.slick-active button {
  background: #152c5b !important;
}

#introjsRoot .ant-carousel .slick-prev {
  left: -32px !important;
}

#introjsRoot .ant-carousel .slick-next {
  right: -32px !important;
}

#introjsRoot .ant-carousel .slick-dots.slick-dots-bottom {
  bottom: -20px !important;
}

.introjs-tooltiptext {
  background-color: #e1edff !important;
  width: 400px;
  border-radius: 1rem;
  padding: 10px 4rem 20px 4rem !important;
  color: #152c5b;
}

.introjs-tooltip {
  border-radius: 1rem !important;
}

.introjs-arrow.top {
  border-bottom-color: #e1edff !important;
}
.introjs-arrow.bottom {
  border-top-color: #e1edff !important;
}

.leftAlignedIntro.introjs-tooltip {
  left: -350px !important;
}

.leftAlignedIntro .introjs-arrow {
  left: 380px !important;
}

.introjs-tooltip-header {
  display: none;
}

/* ------------------------------Overrides-------------------------------- */

#crx-root .ant-collapse {
  background-color: white !important;
  border: none !important;
}

#crx-root .ant-collapse-content {
  background-color: inherit !important;
}

#crx-root .ant-collapse > .ant-collapse-item {
  border: none !important;
}
#crx-root .ant-tooltip {
  z-index: 2147483647 !important;
}

#crx-root .ant-badge-dot {
  height: 9px !important;
  width: 9px !important;
}

#crx-root .ant-btn:disabled {
  background: '#8daedf' !important;
}
