#taplio-extension-root{
    /* width: 400px; */
    /* height: 100%; */
    height: 100vh;
    position: fixed;
    top: 54px;
    right: 0px;
    z-index: 4;
    background-color: #F3F2EF;
    /* background: linear-gradient(96.86deg, #000000 3.49%, #144462 94.63%); */
    /* box-shadow: 0px 0px 5px #0000009e; */
}

#taplio-extension-root.dark {
    background-color: #000000;
}

#newTapXButton {
    position:absolute; top:30px; right:60px; cursor:pointer;z-index:15;
    
}

.TapXButton {
    border-radius: 5px;
    border: solid 1px #2D64BC;
    padding: 3px 9px;
    font-weight: bold;
    color: #2D64BC;
}

/* #fly{position:absolute;  top:30px; right:60px; padding:5px; width:70px; margin:0; height:70px; z-index:15;}i{vertical-align: middle;}.fly_btn:hover{transform: scale(1.2);}.fly_btn{transition: all .1s ease-in-out;cursor:pointer; position: absolute; z-index: 15; width: 40px; height:40px; font-size: 1.7rem; text-align:center; line-height:50px; color:#fff; border-radius:50%; box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.60); user-select: none;}.fly_img{margin-top:-5px;margin-left:-5px;vertical-align:top;height:50px;display:inline;} */

#taplioCloseDiv, #taplioCloseButton, #taplioCloseButton img{
    width:30px;
    height:30px;
}

#taplioCloseDiv{
    position: absolute;
    z-index:99999;
    top: 24px;
    left: 0px;
    cursor: pointer;
}

#taplioCloseButton{
    background-color: white;
    position: relative;
    color: black;
    border-radius: 6px;
}

#taplioCloseButton img{
    border-radius: 6px;
}

.css-93a7c{width:50px;height:50px;display:block;margin:0 auto;
    position: absolute;
    top: calc( 50% - 50px);
    left: calc(50%);}

.css-12f8b0c{position:absolute;height:50px;width:50px;border:thick solid #09527c;border-radius:50%;opacity:1;top:0;left:0;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation:animation-7w6l1j,animation-66508u;animation:animation-7w6l1j,animation-66508u;-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1),cubic-bezier(0.3, 0.61, 0.355, 1);animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1),cubic-bezier(0.3, 0.61, 0.355, 1);-webkit-animation-delay:-1s;animation-delay:-1s;}@-webkit-keyframes animation-66508u{0%{opacity:1;}100%{opacity:0;}}@keyframes animation-66508u{0%{opacity:1;}100%{opacity:0;}}@-webkit-keyframes animation-7w6l1j{0%{-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}100%{-webkit-transform:scale(1.0);-moz-transform:scale(1.0);-ms-transform:scale(1.0);transform:scale(1.0);}}@keyframes animation-7w6l1j{0%{-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}100%{-webkit-transform:scale(1.0);-moz-transform:scale(1.0);-ms-transform:scale(1.0);transform:scale(1.0);}}

.css-17s4oz{position:absolute;height:50px;width:50px;border:thick solid #09527c;border-radius:50%;opacity:1;top:0;left:0;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation:animation-7w6l1j,animation-66508u;animation:animation-7w6l1j,animation-66508u;-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1),cubic-bezier(0.3, 0.61, 0.355, 1);animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1),cubic-bezier(0.3, 0.61, 0.355, 1);-webkit-animation-delay:0s;animation-delay:0s;}@-webkit-keyframes animation-66508u{0%{opacity:1;}100%{opacity:0;}}@keyframes animation-66508u{0%{opacity:1;}100%{opacity:0;}}@-webkit-keyframes animation-7w6l1j{0%{-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}100%{-webkit-transform:scale(1.0);-moz-transform:scale(1.0);-ms-transform:scale(1.0);transform:scale(1.0);}}@keyframes animation-7w6l1j{0%{-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}100%{-webkit-transform:scale(1.0);-moz-transform:scale(1.0);-ms-transform:scale(1.0);transform:scale(1.0);}}


 .msg-overlay-container, #msg-overlay{
  z-index: 99999;
}

.artdeco-dropdown__content-inner, .global-nav__me-content, .artdeco-dropdown__content, .artdeco-dropdown--is-dropdown-element, .artdeco-dropdown__content--justification-right, .artdeco-dropdown__content--placement-bottom{
    z-index:999 !important;
}

#global-nav {
    z-index:999 !important;
}

#tap-close-button-click {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    color: rgba(0,0,0,.6) !important;
    font-weight: normal;
    cursor: pointer;
    font-size: 12px;
}

.scaffold-layout-toolbar.scaffold-layout-toolbar--is-fixed {
    visibility: hidden !important;
}