[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/barbarik/Desktop/hex]
row=1
col=0

[/home/barbarik/Desktop/Devansh Chaudhary - vocabulary unit 1 (class vii).docx]
row=4
col=1

[/home/barbarik/Desktop/mess-challan.pdf]
row=2
col=1

[/home/barbarik/Desktop/abhay.c]
row=5
col=0

[/home/barbarik/Desktop/FoxitReader.desktop]
row=1
col=1

[/home/barbarik/Desktop/start-desktop]
row=4
col=0

[/home/barbarik/Desktop/Text File]
row=2
col=0

[/home/barbarik/Desktop/Standard Notes Decrypted Backup - Thu Jun 04 2020 13_45_23 GMT+0530.txt]
row=9
col=0

[/home/barbarik/Desktop/abhay]
row=7
col=0

[/home/barbarik/Desktop/file.jpg]
row=8
col=0

[/home/barbarik/Desktop/Standard Notes Backup - Thu Jun 04 2020 13_45_34 GMT+0530.zip]
row=0
col=1

[/home/barbarik/Desktop/programs]
row=3
col=0

[/home/barbarik/Desktop/IMG-20191114-WA0008.jpg]
row=6
col=0

[/home/barbarik/Desktop/hostel-challan.pdf]
row=3
col=1

[/home/barbarik/Desktop/kitaab]
row=0
col=0

